.price {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carousel {
  @mixin hover {
    .carouselControls {
      opacity: 1;
    }
  }
}

.carouselControls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.carouselIndicator {
  width: rem(4px);
  height: rem(4px);
  transition: width 250ms ease;
  background-color: black !important;
  position: relative;
  bottom: -32px;

  &[data-active] {
    width: rem(16px);
  }
}
